<div class="alert alert-warning" role="alert" *ngIf="!house && houseLoaded">
	<p>
		<strong>This house was not found.</strong>
		Someone must have destroyed it and burned it down ...!?
	</p>
	<button type="button" class="btn btn-warning" routerLink="/houses">Get back to house list</button>
</div>

<ng-container *ngIf="house && houseLoaded">
	<div class="card mb-4">
		<div class="card-body">
			<h1 class="card-title">{{house.name}}</h1>
			<h2 class="card-subtitle mb-4 text-muted">Region: {{house.region}}</h2>
			<table class="table table-hover">
				<tbody>
				<tr>
					<td>Titles</td>
					<td>
						<ng-container *ngIf="house.titles?.length">
							{{house.titles.toString()}}
						</ng-container>
						<ng-container *ngIf="!house.titles?.length">-</ng-container>
					</td>
				</tr>
				<tr>
					<td>Words</td>
					<td>{{house.words || '-'}}</td>
				</tr>
				<tr>
					<td>Coat of arms</td>
					<td>{{house.coatOfArms || '-'}}</td>
				</tr>
				<tr>
					<td>Noteworthy weapons</td>
					<td>
						<ng-container *ngIf="house.ancestralWeapons?.length">
							{{house.ancestralWeapons.toString()}}
						</ng-container>
						<ng-container *ngIf="!house.ancestralWeapons?.length">-</ng-container>
					</td>
				</tr>
				<tr>
					<td>Seats</td>
					<td>
						<ng-container *ngIf="house.seats?.length">
							{{house.seats.toString()}}
						</ng-container>
						<ng-container *ngIf="!house.seats?.length">-</ng-container>
					</td>
				</tr>
				<tr>
					<td>Founded</td>
					<td>{{house.founded || '-'}}</td>
				</tr>
				<tr>
					<td>Died out</td>
					<td>{{house.diedOut || '-'}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<button type="button" class="btn btn-secondary" routerLink="/houses">Get back to house list</button>
</ng-container>
