<h1>Houses of Game of Thrones</h1>
<h2>An overview</h2>

<div class="alert alert-warning" role="alert" *ngIf="housesLoaded && !houses?.length">
	<p><strong>No houses were found.</strong></p>
	Presumably everything was burned down ...!?
</div>

<table class="table table-striped" *ngIf="housesLoaded && houses?.length">
	<thead>
	<tr>
		<th>Name</th>
		<th>Region</th>
		<th>#Titles</th>
		<th>#Seats</th>
	</tr>
	</thead>
	<tbody>
	<tr class="cursor-pointer" *ngFor="let house of houses" routerLink="/houses/{{house?.id}}">
		<td>{{house?.name}}</td>
		<td>{{house?.region}}</td>
		<td>{{house?.titles?.length || '0'}}</td>
		<td>{{house?.seats?.length || '0'}}</td>
	</tr>
	</tbody>
</table>
