<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Game of Thrones</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/houses" routerLinkActive="active">Houses</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
