<h1>This is Game of Thrones</h1>

<p>
	"Winter is coming. ",<br>
	"A Lannister always pays his debts. ",<br>
	"All men must die. ",<br>
	"When you play the game of thrones, you win or you die. ",<br>
	"You know nothing, Jon Snow. ",<br>
	"Unbowed, Unbent, Unbroken. ",<br>
	"The night is dark and full of terrors. ",<br>
	"It's ten thousand miles between Kings landing and the wall. ",<br>
	"It is rare to meet a Lannister who shares my enthusiasm for dead Lannisters. ",<br>
	"Bastards are born of passion, aren't they? We don't despise them in Dorne. ",<br>
	"The War of the 5 kings. ",<br>
	"Pay the iron price. ",<br>
	"What is dead may never die. ",<br>
	"Forgive my manners. I don't see many ladies these days. Lucky for the ladies. ",<br>
	"A good act does not wash out the bad, nor a bad act the good. Each should have its own reward. ",<br>
	"The bear and the maiden fair. ",<br>
	"I pledge my life and honor to the Night's Watch, for this night and all the nights to come. ",<br>
	"The rains of castamere. ",<br>
	"I would like a trial by combat. ",<br>
	"More pigeon pie, please. ",<br>
	"Never Resting. ",<br>
	"As High as Honor. ",<br>
	"Our Sun Shines Bright. ",<br>
	"The battle of the redgrass field. ",<br>
	"Dunc the Lunk, thick as a castle wall. ",<br>
	"The Knight of Lemonwood. ",<br>
	"The tourney of Ashford Meadows. ",<br>
	"A forked purple lightning bolt, on black field speckled with four-pointed stars. ",<br>
	"The North remembers. ",<br>
	"King in the North. ",<br>
	"The Dothraki do things in their own time, for their own reasons. ",<br>
	"The wolf and the lion. ",<br>
	"Fire and blood. ",<br>
	"House Tarly of Horn Hill ",<br>
	"The winds of Winter. ",<br>
	"A dream of Spring. ",<br>
	"Words are like wind. ",<br>
	"And now his watch is ended. ",<br>
	"May the Father judge him justly. ",<br>
	"Can a man still be brave if he’s afraid? That is the only time a man can be brave."<br>
	<br>
	...
</p>
